.about {
  width: 100%;
  margin: 50px auto;

  .row {
    flex-flow: column nowrap;
    align-items: center;

    .bio {
      margin: 50px auto 150px auto;
      width: 100%;
      display: flex;
      flex-flow: row wrap;

      .mob_ttl {
        width: 100%;
        display: none;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
      }
      .desk_ttl {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .bio_txt {
        flex: 0 0 70%;
        width: 70%;
        display: flex;
        flex-flow: column nowrap;
        text-align: left;
        padding-right: 40px;
        box-sizing: border-box;

        .bio_ttl {
          margin: 0 auto 0 0;
          font-size: 30px;
        }

        p {
          margin: 20px auto 0 auto;
          font-size: 20px;
          line-height: 28px;
        }

        .stats {
          margin-top: 100px;
          width: 100%;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: center;

          .stat {
            pointer-events: none;
            width: 200px;
            height: 200px;
            padding: 10px;
            box-sizing: border-box;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin: 30px;
            background: linear-gradient(var(--dark), var(--dark)) padding-box,
              linear-gradient(to bottom, #1473c2, #7055dc) border-box;
            border-radius: 50%;
            border: 4px solid transparent;
            box-shadow: 0 0 10px var(--blue1);

            .number_con {
              font-size: 28px;
              color: var(--light);
              display: flex;
              flex-flow: row nowrap;
              align-items: center;

              span {
                font-size: 38px;
                font-weight: 900;
                margin-right: 5px;
              }
            }

            h2 {
              font-size: 20px;
              line-height: 23px;
              margin: 0;
              font-weight: 300;
            }
          }
        }
      }

      .bio_img_con {
        flex: 0 0 30%;
        width: 30%;
        display: flex;
        align-items: flex-start;
        justify-content: center;

        img {
          max-width: 100%;
          height: auto;
        }
      }

      .bio_img_con.mob {
        display: none;
      }
    }

    .skills {
      width: 100%;
      margin: 50px auto 0 auto;

      .softSkills {
        margin: 0 auto 150px auto;
        h2 {
          margin: 0;
          font-size: 17px;
          text-shadow: 0 0 10px var(--blue2);
        }
      }
      .techSkills {
        margin: 0 auto 150px auto;
      }

      .skills_con {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        max-width: 1500px;
        margin: 50px auto 0 auto;

        .skill_con {
          width: 250px;
          height: 250px;
          padding: 30px;
          box-sizing: border-box;

          .skill {
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 20px;
            box-sizing: border-box;
            background: var(--blue1);
            border-radius: 50%;
            box-shadow: 0 0 10px var(--light);
            border: 1px solid var(--blue2);

            &:hover {
              box-shadow: 0 0 20px var(--light);
            }

            h3 {
              margin: 15px auto 0 auto;
              font-size: 17px;
              text-shadow: 0 0 10px var(--blue2);
            }
          }
          h4 {
            font-size: 17px;
            margin: 15px auto 0 auto;
            width: 100%;
            text-align: center;
            display: none;
            text-shadow: 0 0 15px var(--blue2);
          }
        }
      }
    }

    .experiences {
      width: 100%;
      margin-bottom: 200px;

      .vertical-timeline-element {
        margin: 100px 0;

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          .exp_img {
            border-radius: 50% !important;
          }
        }

        .vertical-timeline-element-date {
          display: unset;
          justify-content: unset;
          align-items: unset;
          font-size: 20px;
          color: #fff;
        }

        .exp_info {
          h3 {
            font-size: 24px;
            margin: 0;
          }
          p {
            margin: 10px 0;
            font-size: 18px;
          }
        }
        ul {
          margin: 0;
          padding: 0 0 0 20px;
          box-sizing: border-box;
          list-style: square;

          li {
            font-size: 16px;
            margin-bottom: 10px;
          }
        }
      }
    }

    .education {
      width: 100%;

      .vertical-timeline-element {
        margin: 100px 0;

        .vertical-timeline-element-icon {
          width: 20px;
          height: 20px;
          margin-top: 20px;
          margin-left: -10px;
          background: var(--blue1);
        }

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          .edu_img {
            border-radius: 50% !important;
          }
        }

        .vertical-timeline-element-date {
          display: unset;
          justify-content: unset;
          align-items: unset;
          font-size: 20px;
          color: #fff;
        }

        .edu_info {
          h3 {
            font-size: 24px;
            margin: 0;
          }
          p {
            margin: 10px 0 30px 0;
            font-size: 18px;
          }

          a {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: flex-start;
            width: fit-content;
            padding: 5px 10px;
            box-sizing: border-box;
            border-radius: 10px;
            background: var(--dark);
            transition: all 0.3s ease-in-out;

            &:hover {
              box-shadow: 0 0 10px var(--blue2);
            }

            img {
              font-size: 0;
            }

            span {
              font-size: 18px;
              margin-left: 8px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .about .row .bio {
    margin: 50px auto 100px auto;

    .bio_txt .stats {
      margin-top: 50px;

      .stat {
        width: 150px;
        height: 150px;
        margin: 0 20px;
        .number_con {
          font-size: 20px;

          span {
            font-size: 30px;
          }
        }
        h2 {
          font-size: 18px;
          line-height: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .about .row .bio {
    .bio_txt {
      flex: 0 0 100%;
      width: 100%;
      padding: 0;
      margin: 30px auto 80px auto;
    }
    .bio_img_con {
      flex: 0 0 100%;
      width: 100%;
      max-width: 100%;
    }
    .bio_img_con.desk {
      display: none;
    }
    .bio_img_con.mob {
      display: flex;
    }
  }
}

@media only screen and (max-width: $tablet) {
  .about .row {
    .bio .bio_txt {
      .bio_ttl {
        font-size: 24px;
      }
      p {
        font-size: 18px;
      }
    }
    .skills .skills_con .skill_con {
      width: 200px;
      height: 200px;
      padding: 15px;
    }
  }
}
@media only screen and (max-width: 600px) {
  .about .row .bio .bio_txt .stats {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    .stat {
      margin: 20px 0;
    }
  }
}

@media only screen and (max-width: $mobile) {
  .about .row {
    .bio {
      .mob_ttl {
        display: flex;
        margin-bottom: 20px;

        .animatedTitle.med {
          margin: 0 auto;
          font-size: 32px;
        }
      }
      .desk_ttl {
        display: none;
      }
      .bio_txt .bio_ttl {
        font-size: 26px;
      }
    }
    .skills {
      .animatedTitle.med {
        font-size: 32px;
      }
      .skills_con .skill_con {
        width: 170px;
        height: 170px;
        padding: 10px;
        margin: 0 0 80px 0;

        h3 {
          display: none;
        }

        h4 {
          display: block;
        }
      }

      .softSkills .skill_con {
        margin: 0 !important;
      }
    }
    .experiences {
      margin-bottom: 50px;
      .animatedTitle.med {
        font-size: 32px;
      }
      .vertical-timeline-element {
        .exp_info h3 {
          font-size: 20px;
        }
        .vertical-timeline-element-date {
          font-size: 18px;
        }
      }
    }

    .education {
      margin: 100px auto 0 auto;

      .animatedTitle.med {
        font-size: 32px;
      }
    }
  }
}
