.projects {
  width: 100%;
  margin: 100px auto;

  .row {
    flex-flow: column nowrap;
    align-items: center;

    .mob_ttl {
      width: 100%;
      display: none;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
    }
    .desk_ttl {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .projects_con {
      width: 100%;
      display: flex;
      flex-flow: row wrap;

      .project {
        flex: 0 0 33.3%;
        width: 33.3%;
        padding: 30px;

        .project_con {
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          border-radius: 50px;
          background: var(--blue1);
          height: 100%;
          overflow: hidden;
          cursor: pointer;
          transition: all 0.2s ease-in-out;

          &:hover {
            background: var(--dark);
            box-shadow: 0 0 30px var(--blue1);
          }

          .project_img {
            width: 100%;
            height: fit-content;
            overflow: hidden;

            img {
              max-width: 100%;
              height: auto;
            }
          }

          .project_info {
            width: 100%;
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            padding: 20px;
            box-sizing: border-box;
            height: 100%;

            h2 {
              font-size: 26px;
              margin: 0 auto 10px 0;
            }

            p {
              font-size: 18px;
              line-height: 26px;
              margin-bottom: 40px;
              flex-grow: 1;
              max-height: 150px;
              overflow: auto;
              padding-right: 10px;
              box-sizing: border-box;

              &::-webkit-scrollbar {
                width: 5px;
              }

              &::-webkit-scrollbar-track {
                background: var(--light);
                border-radius: 20px;
              }

              &::-webkit-scrollbar-thumb {
                background: var(--pink);
                border-radius: 20px;
              }
            }

            h4 {
              font-size: 20px;
              margin-bottom: 10px;
            }

            ul {
              list-style: square;
              padding: 0 0 0 20px;
              box-sizing: border-box;
              flex-grow: 1;

              li {
                font-size: 18px;
                margin-bottom: 5px;
              }
            }

            .project_btns {
              width: 100%;
              display: flex;
              flex-flow: row nowrap;
              align-items: center;
              justify-content: space-evenly;

              a {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: center;
                padding: 10px 20px;
                box-sizing: border-box;
                transition: all 0.5s ease-in-out;

                &:hover {
                  transform: scale(1.2);
                }

                span {
                  font-size: 20px;
                  margin-left: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  .projects .row .projects_con .project {
    flex: 0 0 50%;
    width: 50%;
  }
}
@media only screen and (max-width: 1100px) {
  .projects .row .projects_con .project {
    padding: 15px;
  }
}
@media only screen and (max-width: $tablet) {
  .projects .row .projects_con .project {
    flex: 0 0 100%;
    width: 100%;
    padding: 0;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: $mobile) {
  .projects .row {
    .mob_ttl {
      display: flex;
      margin-bottom: 20px;

      .animatedTitle.med {
        margin: 0 auto;
        font-size: 32px;
      }
    }
    .desk_ttl {
      display: none;
    }
  }
}
