.projects {
  width: 100%;
  margin: 100px auto;

  .row {
    flex-flow: column nowrap;
    align-items: center;

    .projects_con {
      width: 100%;
      display: flex;
      flex-flow: row wrap;

      .project {
        flex: 0 0 33.3%;
        width: 33.3%;
        padding: 30px;

        .project_con {
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          border-radius: 50px;
          background: var(--blue1);
          height: 100%;
          overflow: hidden;
          cursor: pointer;
          transition: all 0.2s ease-in-out;

          &:hover {
            background: var(--dark);
            box-shadow: 0 0 30px var(--blue1);
          }

          .project_img {
            width: 100%;
            height: 100%;
            max-height: 280px;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
            }
          }

          .project_info {
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            padding: 20px;
            box-sizing: border-box;
            height: 100%;

            h2 {
              font-size: 26px;
              margin: 0 auto 10px 0;
            }

            p {
              font-size: 18px;
              line-height: 26px;
              margin-bottom: 20px;
              flex-grow: 1;
            }

            h4 {
              font-size: 20px;
              margin-bottom: 10px;
            }

            ul {
              list-style: square;
              padding: 0 0 0 20px;
              box-sizing: border-box;
              margin-bottom: 50px;
              flex-grow: 1;

              li {
                font-size: 18px;
                margin-bottom: 5px;
              }
            }

            .project_btns {
              width: 100%;
              display: flex;
              flex-flow: row nowrap;
              align-items: center;
              justify-content: center;

              a {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: center;
                margin-right: 50px;
                padding: 10px 20px;
                box-sizing: border-box;
                transition: all 0.5s ease-in-out;

                &:hover {
                  transform: scale(1.2);
                }

                span {
                  font-size: 20px;
                  margin-left: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}
