* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #141a26;
  --blue1: #0e5078;
  --blue2: #4a96d9;
  --light: #c2cfdf;
  --pink: #b2336f;
}

html {
  scroll-behavior: smooth !important;
}

body {
  background: linear-gradient(180deg, var(--dark) 50%, #031c2c 100%);
  padding-top: 80px;
  box-sizing: border-box;
}

body.load {
  padding: 0;
}

body.noScroll {
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background: var(--dark);
}

body::-webkit-scrollbar-thumb {
  background: var(--blue1);
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--blue2);
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
a,
li {
  color: var(--light);
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.row {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
}

.animatedTitle {
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.animatedTitle.margin {
  margin: 0 auto 30px auto;
}

.animatedTitle.big {
  font-size: 80px;
}

.animatedTitle.med {
  font-size: 38px;
}

.animatedTitle.small {
  font-size: 24px;
}

.loadingBlackScreen {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background: url("../../public/images/blackScreen.jpg");
  background-position: center;
  background-size: cover;
  z-index: 999;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}
.loadingBlackScreen .loadAnimated {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.loadingBlackScreen .arrow {
  cursor: pointer;
  animation: arrowJump 1.5s linear infinite;
}
@keyframes arrowJump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 1100px) {
  body {
    padding-top: 40px;
  }
  .animatedTitle.med {
    font-size: 32px;
  }
}
@media only screen and (max-width: 900px) {
  .animatedTitle.big {
    font-size: 55px;
  }
  .animatedTitle.small {
    font-size: 20px;
  }
  .loadingBlackScreen .arrow {
    max-width: 35px;
    max-height: 35px;
  }
}
@media only screen and (max-width: 768px) {
  .animatedTitle.med {
    font-size: 28px;
  }
}
@media only screen and (max-width: 480px) {
  .animatedTitle.big {
    font-size: 45px;
  }
  .animatedTitle.med {
    font-size: 24px;
  }
  .animatedTitle.small {
    font-size: 18px;
  }
  .loadingBlackScreen .arrow {
    max-width: 30px;
    max-height: 30px;
  }
}
header.desk_head {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  box-sizing: border-box;
  background: var(--dark);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
header.desk_head .row {
  height: 100%;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
header.desk_head .row .menu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}
header.desk_head .row .menu a {
  margin-right: 40px;
  font-size: 20px;
  font-weight: 600;
  padding: 5px 0;
  box-sizing: border-box;
  position: relative;
  transition: all 0.3s ease-in-out;
}
header.desk_head .row .menu a::after {
  content: "";
  width: 0;
  height: 2px;
  background: var(--blue2);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
}
header.desk_head .row .menu a:hover {
  color: var(--blue2);
}
header.desk_head .row .menu a:hover::after {
  width: 100%;
}
header.desk_head .row .menu a.active::after {
  width: 100%;
}
header.desk_head .row .logo {
  padding: 15px;
  box-sizing: border-box;
  background: var(--dark);
  position: absolute;
  left: 50%;
  top: -200%;
  transform: translateX(-50%);
  border-radius: 50%;
  animation: fadeDown 2s linear forwards;
  box-shadow: 0 0 15px var(--blue2);
  transition: all 0.3s ease-in-out;
  font-size: 0;
}
header.desk_head .row .logo:hover {
  box-shadow: 0 0 15px var(--pink);
}
@keyframes fadeDown {
  0% {
    top: -200%;
  }
  100% {
    top: 0;
  }
}
header.desk_head .row .socials {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
}
header.desk_head .row .socials a {
  margin-left: 20px;
}

header.mob_head {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  box-sizing: border-box;
  background: var(--dark);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
header.mob_head .row {
  height: 100%;
}
header.mob_head .row .mob-nav {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
header.mob_head .row .mob-nav .logo-ttl {
  width: 100%;
}
header.mob_head .row .mob-nav .logo-ttl h1 {
  font-size: 26px;
  text-shadow: 0 0 4px var(--blue2);
}
header.mob_head .row .mob-nav .logo-ttl h1.logo-ttl-Mob {
  display: none;
}
header.mob_head .row .mob-nav .logo-container {
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: -200%;
  transform: translateX(-50%) !important;
  border-radius: 50%;
  animation: fadeDown 2s linear forwards;
  box-shadow: 0 0 15px var(--blue2);
  transition: all 0.3s ease-in-out;
  font-size: 0;
  width: 80px;
  height: 80px;
}
header.mob_head .row .mob-nav .logo-container:hover {
  box-shadow: 0 0 15px var(--pink);
}
@keyframes fadeDown {
  0% {
    top: -200%;
  }
  100% {
    top: 5px;
  }
}
header.mob_head .row .mob-nav .logo-container img {
  width: 100%;
  height: 100%;
}
header.mob_head .row .mob-nav .open-container {
  overflow-y: hidden;
}
header.mob_head .row .mob-nav .open-container button.open {
  position: absolute;
  right: 20px;
  top: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
header.mob_head .row .mob-nav .open-container button.open span {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: block;
  width: 25px;
  height: 3px;
  border-radius: 40px;
  background: var(--light);
  transition: all 0.3s ease-in-out;
}
header.mob_head .row .mob-nav .open-container button.open span::after {
  position: absolute;
  right: 0;
  top: -9px;
  width: 30px;
  height: 3px;
  border-radius: 40px;
  content: "";
  background: var(--light);
  transition: all 0.3s ease-in-out;
}
header.mob_head .row .mob-nav .open-container button.open span::before {
  position: absolute;
  right: 0;
  bottom: -9px;
  width: 20px;
  height: 3px;
  border-radius: 40px;
  content: "";
  background: var(--light);
  transition: all 0.3s ease-in-out;
}
header.mob_head .row .mob-nav .open-container button.open:hover span {
  width: 30px;
  background: var(--blue2);
}
header.mob_head .row .mob-nav .open-container button.open:hover span::before, header.mob_head .row .mob-nav .open-container button.open:hover span::after {
  width: 30px;
  background: var(--blue2);
}
header.mob_head .row .mob-nav .mobile-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--dark);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
header.mob_head .row .mob-nav .mobile-menu button.close {
  position: absolute;
  right: 20px;
  top: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
header.mob_head .row .mob-nav .mobile-menu button.close span {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: block;
  width: 25px;
  height: 3px;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease-in-out;
}
header.mob_head .row .mob-nav .mobile-menu button.close span::after {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 3px;
  transform: rotate(45deg);
  border-radius: 40px;
  content: "";
  background: var(--light);
  transition: all 0.3s ease-in-out;
}
header.mob_head .row .mob-nav .mobile-menu button.close span::before {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: rotate(-45deg);
  width: 30px;
  height: 3px;
  border-radius: 40px;
  content: "";
  background: var(--light);
  transition: all 0.3s ease-in-out;
}
header.mob_head .row .mob-nav .mobile-menu button.close:hover span::before {
  background: var(--blue2);
  transform: rotate(45deg);
}
header.mob_head .row .mob-nav .mobile-menu button.close:hover span::after {
  background: var(--blue2);
  transform: rotate(-45deg);
}
header.mob_head .row .mob-nav .mobile-menu nav {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
header.mob_head .row .mob-nav .mobile-menu nav .link_container {
  overflow-y: hidden;
  margin-bottom: 20px;
  padding: 5px 0;
  box-sizing: border-box;
}
header.mob_head .row .mob-nav .mobile-menu nav .link_container a {
  font-size: 28px;
  font-weight: 600;
  position: relative;
  transition: all 0.3s ease-in-out;
}
header.mob_head .row .mob-nav .mobile-menu nav .link_container a::after {
  content: "";
  width: 0;
  height: 2px;
  background: var(--blue2);
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: all 0.3s ease-in-out;
}
header.mob_head .row .mob-nav .mobile-menu nav .link_container a:hover {
  color: var(--blue2);
}
header.mob_head .row .mob-nav .mobile-menu nav .link_container a:hover::after {
  width: 100%;
}
header.mob_head .row .mob-nav .mobile-menu nav .link_container a.active::after {
  width: 100%;
}
header.mob_head .row .mob-nav .mobile-menu .socials {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
}
header.mob_head .row .mob-nav .mobile-menu .socials a {
  margin: 0 5px;
}

@media screen and (max-width: 480px) {
  header.mob_head .row .mob-nav .logo-ttl h1.logo-ttl-Mob {
    display: unset;
  }
  header.mob_head .row .mob-nav .logo-ttl h1.logo-ttl-Desk {
    display: none;
  }
  header.mob_head .row .mob-nav .logo-container {
    width: 60px;
    height: 60px;
  }
}
.hero {
  z-index: 1;
  position: relative;
  min-height: calc(100vh - 80px);
  margin: 0 auto;
  overflow: hidden;
}
.hero .astro {
  -o-object-fit: cover;
     object-fit: cover;
}
.hero .astro_mob {
  display: none;
}
.hero .bubble {
  z-index: 2;
  position: absolute;
  border-radius: 50%;
  background: var(--dark);
  opacity: 0;
  bottom: 0;
  box-shadow: 0 0 30px var(--blue1);
}
.hero .bubble:hover {
  background: linear-gradient(180deg, var(--dark) 0%, var(--pink) 100%);
  box-shadow: 0 0 30px var(--pink);
}
@keyframes bubbleShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bubbleUp {
  0% {
    bottom: 0;
  }
  25% {
    bottom: 100%;
  }
  50% {
    bottom: 0;
  }
  75% {
    bottom: 100%;
  }
  100% {
    bottom: 0;
  }
}
.hero .bubble1 {
  animation: bubbleShow 2s linear 2s forwards, bubbleUp 17s linear 2s infinite alternate;
  left: 25%;
}
.hero .bubble2 {
  animation: bubbleShow 2s linear 3s forwards, bubbleUp 18s linear 3s infinite alternate;
  right: 0;
}
.hero .bubble3 {
  animation: bubbleShow 2s linear 4s forwards, bubbleUp 19s linear 4s infinite alternate;
  left: 0;
}
.hero .bubble4 {
  animation: bubbleShow 2s linear 5s forwards, bubbleUp 20s linear 5s infinite alternate;
  right: 25%;
}
.hero .bubble5 {
  animation: bubbleShow 2s linear 6s forwards, bubbleUp 21s linear 6s infinite alternate;
  left: 10%;
}
.hero .bubble6 {
  animation: bubbleShow 2s linear 7s forwards, bubbleUp 22s linear 7s infinite alternate;
  right: 10%;
}

@media screen and (max-width: 1100px) {
  .hero {
    max-height: calc(100vh - 40px);
    min-height: calc(100vh - 40px);
  }
  .hero .bubble {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .hero .astro_mob {
    display: unset;
  }
  .hero .astro_desk {
    display: none;
  }
}
.welcome {
  width: 100%;
  min-height: calc(100vh - 80px);
  margin: 0 auto;
  padding: 50px 0;
  box-sizing: border-box;
  overflow-y: hidden;
}
.welcome .row {
  height: 100%;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  text-align: center;
}
.welcome .row p {
  font-size: 22px;
  line-height: 30px;
  width: 100%;
}
.welcome .row .welcome_btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  margin: 50px auto 100px auto;
}
.welcome .row .welcome_btns a {
  position: relative;
  margin: 0 20px;
  width: 150px;
  height: 50px;
  display: inline-block;
  border-radius: 5px;
}
.welcome .row .welcome_btns a i {
  position: absolute;
  inset: -2px;
  display: block;
  border-radius: 5px;
}
.welcome .row .welcome_btns a i,
.welcome .row .welcome_btns a i:nth-child(2) {
  background: linear-gradient(45deg, var(--blue2), var(--dark), var(--dark), var(--pink));
}
.welcome .row .welcome_btns a i:nth-child(2) {
  filter: blur(10px);
}
.welcome .row .welcome_btns a span {
  position: absolute;
  font-size: 18px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(14, 21, 56, 0.65);
  letter-spacing: 1.5px;
  border: 1px solid var(--dark);
  border-radius: 3px;
}
.welcome .row .welcome_btns a span img {
  margin-left: 8px;
}
.welcome .row .welcome_btns a:hover i,
.welcome .row .welcome_btns a:hover i:nth-child(2) {
  animation: btnAnimation 1s infinite;
}
@keyframes btnAnimation {
  0% {
    background: linear-gradient(45deg, var(--blue2), var(--dark), var(--dark), var(--pink));
  }
  50% {
    background: linear-gradient(225deg, var(--blue2), var(--dark), var(--dark), var(--pink));
  }
  100% {
    background: linear-gradient(45deg, var(--blue2), var(--dark), var(--dark), var(--pink));
  }
}
.welcome .row .man_container {
  cursor: pointer;
  box-shadow: 0 0 25px var(--blue1);
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 0;
  width: 100%;
  max-width: 500px;
}
.welcome .row .man_container img {
  width: 100%;
  height: auto;
  transition: all 1.5s ease-in-out;
}
.welcome .row .man_container .man_msg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(20, 26, 38, 0.7098039216);
  opacity: 0;
  transition: all 1.5s ease-in-out;
}
.welcome .row .man_container .man_msg h3 {
  width: 90%;
  font-size: 22px;
  line-height: 32px;
}
.welcome .row .man_container .man_msg h3 span {
  margin-top: 20px;
  display: block;
  font-size: 18px;
}
.welcome .row .man_container:hover img {
  transform: scale(1.1);
}
.welcome .row .man_container:hover .man_msg {
  opacity: 1;
}

@media only screen and (max-width: 1100px) {
  .welcome {
    min-height: calc(100vh - 40px);
  }
}
@media only screen and (max-width: 768px) {
  .welcome .row p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .welcome .row p {
    font-size: 18px;
    line-height: 28px;
  }
  .welcome .row .welcome_btns {
    flex-flow: column nowrap;
    margin: 30px auto 60px;
  }
  .welcome .row .welcome_btns a {
    margin: 10px 0;
  }
}
.about {
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
}
.about .row {
  flex-flow: column nowrap;
  align-items: center;
}
.about .row .bio {
  margin: 100px auto 150px auto;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.about .row .bio .mob_ttl {
  width: 100%;
  display: none;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.about .row .bio .desk_ttl {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .row .bio .bio_txt {
  flex: 0 0 70%;
  width: 70%;
  display: flex;
  flex-flow: column nowrap;
  text-align: left;
  padding-right: 40px;
  box-sizing: border-box;
}
.about .row .bio .bio_txt .bio_images_mob {
  display: none;
}
.about .row .bio .bio_txt .bio_ttl {
  margin: 0 auto 0 0;
  font-size: 30px;
}
.about .row .bio .bio_txt p {
  margin: 20px auto 0 auto;
  font-size: 20px;
  line-height: 28px;
}
.about .row .bio .bio_txt .stats {
  margin: 80px auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
.about .row .bio .bio_txt .stats .stat {
  pointer-events: none;
  width: 200px;
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 30px;
  background: linear-gradient(var(--dark), var(--dark)) padding-box, linear-gradient(to bottom, #1473c2, #7055dc) border-box;
  border-radius: 50%;
  border: 4px solid transparent;
  box-shadow: 0 0 10px var(--blue1);
}
.about .row .bio .bio_txt .stats .stat .number_con {
  font-size: 28px;
  color: var(--light);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.about .row .bio .bio_txt .stats .stat .number_con span {
  font-size: 38px;
  font-weight: 900;
  margin-right: 5px;
}
.about .row .bio .bio_txt .stats .stat h2 {
  font-size: 20px;
  line-height: 23px;
  margin: 0;
  font-weight: 300;
}
.about .row .bio .bio_txt .bio_img_con {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .row .bio .bio_txt .bio_img_con img {
  max-width: 100%;
  height: auto;
}
.about .row .bio .bio_images {
  display: flex;
  align-items: center;
  justify-content: center;
  height: -moz-fit-content;
  height: fit-content;
}
.about .row .bio .bio_images .me_con {
  max-width: 80%;
  padding: 20px 10px 0 10px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 20px var(--blue2);
  font-size: 0;
  background: radial-gradient(circle, var(--blue2) 0%, var(--blue1) 50%, var(--dark) 100%);
}
.about .row .bio .bio_images .me_con:hover {
  box-shadow: 0 0 20px var(--pink);
}
.about .row .bio .bio_images .me_con img {
  max-width: 100%;
  height: auto;
}
.about .row .bio .bio_images_desk {
  position: sticky;
  right: 0;
  top: 40%;
  flex: 0 0 30%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: -moz-fit-content;
  height: fit-content;
}
.about .row .skills {
  width: 100%;
  margin: 50px auto 0 auto;
}
.about .row .skills .softSkills {
  margin: 0 auto 150px auto;
}
.about .row .skills .softSkills h2 {
  margin: 0;
  font-size: 17px;
  text-shadow: 0 0 10px var(--blue2);
}
.about .row .skills .techSkills {
  margin: 0 auto 150px auto;
}
.about .row .skills .skills_con {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 1500px;
  margin: 50px auto 0 auto;
}
.about .row .skills .skills_con .skill_con {
  width: 250px;
  height: 250px;
  padding: 30px;
  box-sizing: border-box;
}
.about .row .skills .skills_con .skill_con .skill {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  background: var(--blue1);
  border-radius: 50%;
  box-shadow: 0 0 10px var(--light);
  border: 1px solid var(--blue2);
}
.about .row .skills .skills_con .skill_con .skill:hover {
  box-shadow: 0 0 20px var(--light);
}
.about .row .skills .skills_con .skill_con .skill h3 {
  margin: 15px auto 0 auto;
  font-size: 17px;
  text-shadow: 0 0 10px var(--blue2);
}
.about .row .skills .skills_con .skill_con h4 {
  font-size: 17px;
  margin: 15px auto 0 auto;
  width: 100%;
  text-align: center;
  display: none;
  text-shadow: 0 0 15px var(--blue2);
}
.about .row .experiences {
  width: 100%;
  margin-bottom: 200px;
}
.about .row .experiences .vertical-timeline-element {
  margin: 100px 0;
}
.about .row .experiences .vertical-timeline-element span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .row .experiences .vertical-timeline-element span .exp_img {
  border-radius: 50% !important;
}
.about .row .experiences .vertical-timeline-element .vertical-timeline-element-date {
  display: unset;
  justify-content: unset;
  align-items: unset;
  font-size: 20px;
  color: #fff;
}
.about .row .experiences .vertical-timeline-element .exp_info h3 {
  font-size: 24px;
  margin: 0;
}
.about .row .experiences .vertical-timeline-element .exp_info p {
  margin: 10px 0;
  font-size: 18px;
}
.about .row .experiences .vertical-timeline-element ul {
  margin: 0;
  padding: 0 0 0 20px;
  box-sizing: border-box;
  list-style: square;
}
.about .row .experiences .vertical-timeline-element ul li {
  font-size: 16px;
  margin-bottom: 10px;
}
.about .row .education {
  width: 100%;
}
.about .row .education .vertical-timeline-element {
  margin: 100px 0;
}
.about .row .education .vertical-timeline-element .vertical-timeline-element-icon {
  width: 20px;
  height: 20px;
  margin-top: 20px;
  margin-left: -10px;
  background: var(--blue1);
}
.about .row .education .vertical-timeline-element span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .row .education .vertical-timeline-element span .edu_img {
  border-radius: 50% !important;
}
.about .row .education .vertical-timeline-element .vertical-timeline-element-date {
  display: unset;
  justify-content: unset;
  align-items: unset;
  font-size: 20px;
  color: #fff;
}
.about .row .education .vertical-timeline-element .edu_info h3 {
  font-size: 24px;
  margin: 0;
}
.about .row .education .vertical-timeline-element .edu_info p {
  margin: 10px 0 30px 0;
  font-size: 18px;
}
.about .row .education .vertical-timeline-element .edu_info a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 10px;
  background: var(--dark);
  transition: all 0.3s ease-in-out;
}
.about .row .education .vertical-timeline-element .edu_info a:hover {
  box-shadow: 0 0 10px var(--blue2);
}
.about .row .education .vertical-timeline-element .edu_info a img {
  font-size: 0;
}
.about .row .education .vertical-timeline-element .edu_info a span {
  font-size: 18px;
  margin-left: 8px;
}

@media only screen and (max-width: 1400px) {
  .about .row .bio {
    margin: 50px auto 100px auto;
  }
  .about .row .bio .bio_txt .stats {
    margin-top: 50px;
  }
  .about .row .bio .bio_txt .stats .stat {
    width: 150px;
    height: 150px;
    margin: 0 20px;
  }
  .about .row .bio .bio_txt .stats .stat .number_con {
    font-size: 20px;
  }
  .about .row .bio .bio_txt .stats .stat .number_con span {
    font-size: 30px;
  }
  .about .row .bio .bio_txt .stats .stat h2 {
    font-size: 18px;
    line-height: 20px;
  }
}
@media only screen and (max-width: 1100px) {
  .about .row .bio .bio_txt {
    flex: 0 0 100%;
    width: 100%;
    padding: 0;
    margin: 30px auto 80px auto;
  }
  .about .row .bio .bio_txt .bio_images_mob {
    display: flex;
    width: 100%;
    margin-bottom: 40px;
  }
  .about .row .bio .bio_images_desk {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .about .row .bio {
    margin-top: 20px;
  }
  .about .row .bio .bio_txt .bio_ttl {
    font-size: 24px;
  }
  .about .row .bio .bio_txt p {
    font-size: 18px;
  }
  .about .row .skills .skills_con .skill_con {
    width: 200px;
    height: 200px;
    padding: 15px;
  }
}
@media only screen and (max-width: 600px) {
  .about .row .bio .bio_txt .stats {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
  .about .row .bio .bio_txt .stats .stat {
    margin: 20px 0;
  }
}
@media only screen and (max-width: 480px) {
  .about .row .bio .mob_ttl {
    display: flex;
    margin-bottom: 20px;
  }
  .about .row .bio .mob_ttl .animatedTitle.med {
    margin: 0 auto;
    font-size: 32px;
  }
  .about .row .bio .desk_ttl {
    display: none;
  }
  .about .row .bio .bio_txt .bio_ttl {
    font-size: 26px;
  }
  .about .row .skills .animatedTitle.med {
    font-size: 32px;
  }
  .about .row .skills .skills_con .skill_con {
    width: 170px;
    height: 170px;
    padding: 10px;
    margin: 0 0 80px 0;
  }
  .about .row .skills .skills_con .skill_con h3 {
    display: none;
  }
  .about .row .skills .skills_con .skill_con h4 {
    display: block;
  }
  .about .row .skills .softSkills .skill_con {
    margin: 0 !important;
  }
  .about .row .experiences {
    margin-bottom: 50px;
  }
  .about .row .experiences .animatedTitle.med {
    font-size: 32px;
  }
  .about .row .experiences .vertical-timeline-element .exp_info h3 {
    font-size: 20px;
  }
  .about .row .experiences .vertical-timeline-element .vertical-timeline-element-date {
    font-size: 18px;
  }
  .about .row .education {
    margin: 100px auto 0 auto;
  }
  .about .row .education .animatedTitle.med {
    font-size: 32px;
  }
}
.projects {
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
}
.projects .row {
  margin-top: 100px;
  flex-flow: column nowrap;
  align-items: center;
}
.projects .row .mob_ttl {
  width: 100%;
  display: none;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.projects .row .desk_ttl {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects .row .projects_con {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.projects .row .projects_con .project {
  flex: 0 0 33.3%;
  width: 33.3%;
  padding: 30px;
}
.projects .row .projects_con .project .project_con {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border-radius: 50px;
  background: var(--blue1);
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.projects .row .projects_con .project .project_con:hover {
  background: var(--dark);
  box-shadow: 0 0 30px var(--blue1);
}
.projects .row .projects_con .project .project_con .project_img {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
}
.projects .row .projects_con .project .project_con .project_img img {
  max-width: 100%;
  height: auto;
}
.projects .row .projects_con .project .project_con .project_info {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
}
.projects .row .projects_con .project .project_con .project_info h2 {
  font-size: 26px;
  margin: 0 auto 10px 0;
}
.projects .row .projects_con .project .project_con .project_info p {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 40px;
  flex-grow: 1;
  max-height: 150px;
  overflow: auto;
  padding-right: 10px;
  box-sizing: border-box;
}
.projects .row .projects_con .project .project_con .project_info p::-webkit-scrollbar {
  width: 5px;
}
.projects .row .projects_con .project .project_con .project_info p::-webkit-scrollbar-track {
  background: var(--light);
  border-radius: 20px;
}
.projects .row .projects_con .project .project_con .project_info p::-webkit-scrollbar-thumb {
  background: var(--pink);
  border-radius: 20px;
}
.projects .row .projects_con .project .project_con .project_info h4 {
  font-size: 20px;
  margin-bottom: 10px;
}
.projects .row .projects_con .project .project_con .project_info ul {
  list-style: square;
  padding: 0 0 0 20px;
  box-sizing: border-box;
  flex-grow: 1;
}
.projects .row .projects_con .project .project_con .project_info ul li {
  font-size: 18px;
  margin-bottom: 5px;
}
.projects .row .projects_con .project .project_con .project_info .project_btns {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}
.projects .row .projects_con .project .project_con .project_info .project_btns a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}
.projects .row .projects_con .project .project_con .project_info .project_btns a:hover {
  transform: scale(1.2);
}
.projects .row .projects_con .project .project_con .project_info .project_btns a span {
  font-size: 20px;
  margin-left: 10px;
}

@media only screen and (max-width: 1500px) {
  .projects .row .projects_con .project {
    flex: 0 0 50%;
    width: 50%;
  }
}
@media only screen and (max-width: 1400px) {
  .projects .row {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 1100px) {
  .projects .row .projects_con .project {
    padding: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .projects .row {
    margin-top: 20px;
  }
  .projects .row .projects_con .project {
    flex: 0 0 100%;
    width: 100%;
    padding: 0;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 480px) {
  .projects .row .mob_ttl {
    display: flex;
    margin-bottom: 20px;
  }
  .projects .row .mob_ttl .animatedTitle.med {
    margin: 0 auto;
    font-size: 32px;
  }
  .projects .row .desk_ttl {
    display: none;
  }
}
.contact_page {
  overflow: hidden;
  padding-top: 80px;
  width: 100%;
  box-sizing: border-box;
  background-image: url("../../public/images/contact-space.png");
  background-position: center;
  background-size: cover;
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact_page .row {
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.contact_page .row .contact_form {
  width: 520px;
  height: 520px;
  margin-top: 20px;
  position: relative;
  box-sizing: border-box;
}
.contact_page .row .contact_form i {
  position: absolute;
  inset: 0;
  border: 2px solid #fff;
  transition: 0.5s;
}
.contact_page .row .contact_form i:nth-child(1) {
  border-radius: 59% 41% 32% 68%/60% 39% 61% 40%;
  animation: animate 10s linear infinite;
}
.contact_page .row .contact_form i:nth-child(2) {
  border-radius: 59% 41% 55% 45%/27% 65% 35% 73%;
  animation: animate2 6s linear infinite;
}
.contact_page .row .contact_form i:nth-child(3) {
  border-radius: 31% 69% 34% 66%/56% 40% 60% 44%;
  animation: animate2 14s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}
.contact_page .row .contact_form:hover i {
  border: 6px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
}
.contact_page .row .contact_form form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-sizing: border-box;
  border-radius: 50px;
}
.contact_page .row .contact_form form label {
  width: 100%;
  margin-bottom: 20px;
}
.contact_page .row .contact_form form label input,
.contact_page .row .contact_form form label textarea {
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  border-radius: 40px;
  border: none;
  resize: none;
  font-size: 17px;
  outline: none;
  background: transparent;
  border: 2px solid var(--light);
  color: var(--light);
}
.contact_page .row .contact_form form label input:focus,
.contact_page .row .contact_form form label textarea:focus {
  box-shadow: 0 0 20px var(--blue2);
}
.contact_page .row .contact_form form label input::-moz-placeholder, .contact_page .row .contact_form form label textarea::-moz-placeholder {
  font-size: 17px;
  color: var(--light);
  font-weight: 300;
}
.contact_page .row .contact_form form label input::placeholder,
.contact_page .row .contact_form form label textarea::placeholder {
  font-size: 17px;
  color: var(--light);
  font-weight: 300;
}
.contact_page .row .contact_form form button {
  width: 100%;
  max-width: 150px;
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: 20px;
  background: linear-gradient(45deg, var(--blue2), var(--pink));
  color: var(--light);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 500;
}
.contact_page .row .contact_form form button:hover {
  box-shadow: 0 0 20px var(--blue2);
}

@media only screen and (max-width: 1100px) {
  .contact_page {
    min-height: calc(100vh - 40px);
  }
}
@media only screen and (max-width: 480px) {
  .contact_page {
    padding-top: 0;
    position: relative;
  }
  .contact_page .row {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .contact_page .row .animatedTitle.med {
    margin: 0 auto;
    font-size: 32px;
  }
  .contact_page .row .contact_form {
    width: 100%;
    height: unset;
  }
  .contact_page .row .contact_form i {
    display: none;
  }
  .contact_page .row .contact_form form {
    position: relative;
    width: 100%;
    top: unset;
    left: unset;
    transform: none;
    border-radius: 0;
  }
}/*# sourceMappingURL=app.css.map */