* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Colors
:root {
  --dark: #141a26;
  --blue1: #0e5078;
  --blue2: #4a96d9;
  --light: #c2cfdf;
  --pink: #b2336f;
}

//Responsive sizes
$mobile: 480px;
$tablet: 768px;
$laptop: 1280px;

body {
  background: linear-gradient(180deg, var(--dark) 50%, var(--blue1) 100%);
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
a,
li {
  color: var(--light);
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.row {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
}

@import "./nav.scss";
@import "./hero.scss";
